#main-container{
    background: linear-gradient(to left, #3b8a6c 0%, #c9f2e0 100%);
    width: 70%;
}
.container-fluid{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
h1{
    color: rgb(0, 91, 26);
    font-size:45px;   
}
h2{
    color: rgba(54, 75, 46, 0.541);   
}

h3{
    color: rgba(54, 75, 46, 0.541);    
}

#read{
    color: rgb(5, 75, 5);
    font-weight: bold;
    background-color: rgb(191, 224, 191);
    box-shadow: 2px 2px 10px 2px rgb(154, 194, 156);
    margin-bottom: 15px;
    border: none;
}
#read:hover{
    color: white;
    box-shadow: 1px 2px 10px 2px rgb(5, 75, 5);  
    background-color: rgb(2, 45, 2);
}
#skills{
    /* background: linear-gradient(to right, #a1c3b1 0%, #b2eabb 100%); */
    background-repeat: no-repeat;
    background-image: url('/skills.jpg');
    background-size: cover;
    background-blend-mode:color;
    box-shadow: 1px 10px 10px 1px rgba(68, 77, 68, 0.645);
   
}
#skills > h3{
    color: #ffffff;
}
#carousel-container{
    width: 70%;
    max-height:fit-content;
    box-shadow: 1px 10px 10px 1px rgba(68, 77, 68, 0.645);
}